# Node modules 
node_modules/

# Eleventy output
_site/

# System files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code or Nova settings
.vscode/
.nova/

# Counter
counter/.wrangler/