<footer>
  <p>&copy; 2025 by Jonathan Wold. Unless otherwise noted, all content is licensed under 
	<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license noopener noreferrer">
	  CC BY 4.0
	</a>
  </p>
  
  <label for="style-switcher">Style Switcher:</label>
  <select id="style-switcher">
	<option value="default">Default</option>
	<option value="classic">Classic</option>
  </select>
  
</footer>