<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ site.description }}">
  <title>{{ title }}</title>
  <link id="theme-stylesheet" rel="stylesheet" href="/styles/styles.css" />
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=eb-garamond:400,400i,500i|jost:400i,500|open-sans:500" rel="stylesheet" />
</head>
<body class="style-coolblue">
  <div id="background-wrapper">
		
		<div class="container">
		  <div class="area one">
			  
			  {{ content }}
			 
		  </div>
		  <div class="area two">
			  
			  <h2>From the Blog</h2>
			  
			  <blockquote>
				<p>Success in life is the skill to navigate luck events in a way that’s aligned with what you value.</p>
				<footer>— from <cite><a href="/blog/luck-skill-and-effort/">Luck, Skill, and Effort</a></cite></footer>
			  </blockquote>
			  
				<nav>
				  <a href="/blog/">Blog</a>
				  <a href="/about">About</a>
				  <a href="/now">Now</a>
				  <a href="/contact">Contact</a>
				  <a href="/colophon">Colophon</a>
				</nav>
			  
		  </div>
		  <div class="area three photo">
			  <a href="/" aria-label="Return to homepage"> 
				<picture>
					<source srcset="/images/jonathan-wold-profile.webp" type="image/webp" />
					<source srcset="/images/jonathan-wold-profile.jpg" type="image/jpeg" />
					<img 
					src="/assets/jonathan-profile.jpg" 
					alt="Jonathan Wold's profile picture"
					loading="eager"
					width="100%"
					height="100%"
					/>
				</picture>
			  </a>
		  </div>		  	
		  <div class="area four">  
			  <h3>Book of the Month</h3>
			  
			 <a class="book" href="https://www.penguinrandomhouse.com/books/599856/mark-twain-by-ron-chernow/?_gl=1*1i7d19i*_gcl_au*MjExMzUyMjI5MS4xNzUxMTMyNDE1/">
				 <cite>Mark Twain</cite>
				<span class="author">Ron Chernow</span>
			</a>	  			  
				
		  </div>
		  <div class="area five">
			  
			  <div class="hit-counter">
				<span class="hit-count">1337</span>
				<span class="hit-label">visitors</span>
			  </div>
			  
		  </div>
		  <div class="area six">
			  
			  <div class="portal-container">
				<a href="/portal" class="portal-link">Enter Portal</a>
			  </div>
			  
		  </div>
		  <div class="area seven">
			  <div class="angled-portal-label">
				<span class="text">Portal</span>
				<span class="arrow">⤴</span>
			
			  </div>			  
		  </div>
		</div>
		
  </div>  
</body>
</html>
